@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  .font-regular-12 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.6666rem;
    line-height: 15px;
  }
  .font-regular-18 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 21px;
  }

  .font-medium-24 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 23px;
  }

  .font-medium-32 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 42px;
  }

  .font-bold-32 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 42px;
  }

  .selector-button {
    position: relative;
    text-align: left;
  }

  .selector-button::after {
    content: "";
    clear: both;
    position: absolute;
    top: 50%;
    right: 8px;
    width: 0;
    height: 0;
    transform-origin: center center;
    transform: translateY(-5px);
    border-top: 8px solid #a0946e;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
    z-index: 999;
  }

  .blue-team-diagonal {
    width: calc(48px * 1.41);
    border-bottom: 2px solid rgba(199, 199, 199, 0.4);
    transform: rotate(45deg);
    transform-origin: left;
  }

  .red-team-diagonal {
    width: calc(48px * 1.41);
    border-bottom: 2px solid rgba(31, 37, 153, 0.4);
    transform: rotate(45deg);
    transform-origin: left;
  }

  .no-scroll::-webkit-scrollbar {
    display: none;
  }
}
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #313059;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 21px;
}
